:root {
  --main-font--: "Roboto", sans-serif;
  --font-logo--: "Raleway";
  --background-cl-black--: #2F303A;
  --white-cl--: #FFF;
  --black-cl--: #212121;
  --blue-cl--: #2196F3;
  --silver-cl--: #757575;
  --color-icons--: #AFB1B8;
  --bacground-btn--:#188CE8;
  --bacground-section--:#F5F4FA;
  --animation-time--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-cl--);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Backdrop */
.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity var(--animation-time--), visibility var(--animation-time--);
  transition: opacity var(--animation-time--), visibility var(--animation-time--);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wraper {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

/* Modal-wraper */
.modal-wraper {
  display: block;
  position: absolute;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--animation-time--);
  transition: -webkit-transform var(--animation-time--);
  transition: transform var(--animation-time--);
  transition: transform var(--animation-time--), -webkit-transform var(--animation-time--);
  padding: 40px;
}
@media screen and (max-width: 479.98px) {
  .modal-wraper {
    width: 300px;
    padding: 20px;
  }
}
@media screen and (min-width: 480px) {
  .modal-wraper {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wraper {
    width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-cl--);
  cursor: pointer;
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

.modal-btn:hover .icons-modal,
.modal-btn:focus .icons-modal {
  fill: var(--blue-cl--);
}

.icons-modal {
  width: 100%;
  height: 100%;
  fill: var(--black-cl--);
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

/* Modal-form */
.modal-form {
  display: block;
  width: 100%;
}

.form-modal-title {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (max-width: 479.98px) {
  .form-modal-title {
    font-size: 15px;
  }
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  cursor: pointer;
}

.modal-form-input {
  display: block;
  width: 100%;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color var(--animation-time--);
  transition: border-color var(--animation-time--);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: 0;
  border-color: #188ce8;
}

.modal-form-input:hover ~ .modal-form-icons,
.modal-form-input:focus ~ .modal-form-icons {
  fill: #188ce8;
}

.modal-form-icons {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

.modal-form-icons:hover,
.modal-form-icons:focus {
  fill: #188ce8;
}

.modal-form-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479.98px) {
  .modal-form-text {
    height: 90px;
  }
}
.modal-form-text:-moz-placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-form-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-form-text:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-form-text:focus {
  outline: 0;
}

/* Checkbox */
.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  margin: 0;
}

.checkbox {
  opacity: 0;
  margin-left: 14px;
}

.checkbox:checked + .icon-checkbox {
  background-color: var(--blue-cl--);
  border: 0;
}

.checkbox:focus + .icon-checkbox {
  outline: solid 1px;
}

.checkbox:checked:focus + .icon-checkbox {
  outline: solid 1px var(--blue-cl--);
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.custom-checkbox-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
  padding: 2px;
}

.form-policy-desc {
  margin-left: 7px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 479.98px) {
  .form-policy-desc {
    font-size: 12px;
  }
}
@media screen and (min-width: 480px) {
  .form-policy-desc {
    font-size: 12px;
    line-height: normal;
  }
}
@media screen and (min-width: 1200px) {
  .form-policy-desc {
    font-size: 14px;
    line-height: 1.7;
  }
}

.form-policy-link {
  margin-left: 4px;
  color: #2196f3;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
@media screen and (max-width: 479.98px) {
  .form-policy-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 480px) {
  .form-policy-link {
    font-size: 12px;
    line-height: normal;
  }
}
@media screen and (min-width: 1200px) {
  .form-policy-link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.btn-modal-form {
  display: block;
  width: 200px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}
@media screen and (max-width: 479.98px) {
  .btn-modal-form {
    width: 150px;
    margin-top: 15px;
  }
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  padding: 40px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  z-index: 1000;
}
.menu__content.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100%;
}
@media screen and (max-width: 479.98px) {
  .menu__content {
    padding: 20px;
  }
}

.menu__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.menu__btn-icon .menu__icon-close {
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

.menu__btn-icon:hover .menu__icon-close,
.menu__btn-icon:focus .menu__icon-close {
  fill: var(--blue-cl--);
}

.header__btn-icon .header__icon-menu {
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

.header__btn-icon:hover .header__icon-menu,
.header__btn-icon:focus .header__icon-menu {
  fill: var(--blue-cl--);
}

.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__content .header__list {
  display: block;
}

.menu__content-item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu__content-item:first-child {
  padding-top: 8px;
}

.menu__content-link-nav {
  color: var(--black-cl--);
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  -webkit-transition: color var(--animation-time--);
  transition: color var(--animation-time--);
}
.menu__content-link-nav:hover {
  color: var(--blue-cl--);
}
.menu__content-link-nav:hover {
  color: var(--blue-cl--);
}

.menu__content-link-nav--active {
  color: var(--blue-cl--);
  margin: 0;
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.menu__contacts-list {
  margin-top: 32px;
}

.menu__contacts-item {
  margin-bottom: 32px;
}

.menu__contacts-link-1 {
  color: var(--blue-cl--);
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
@media screen and (max-width: 479.98px) {
  .menu__contacts-link-1 {
    color: var(--blue-cl--);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
  }
}

.menu__contacts-link-2 {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}

.menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479.98px) {
  .menu__socials-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu__socials-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  margin-left: 10px;
  background: rgba(33, 33, 33, 0.2);
}

.menu__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  margin-top: 64px;
}
@media screen and (min-width: 320px) {
  .menu__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
  }
  .menu__socials-item::after {
    content: "";
    width: 1px;
    height: 22px;
    margin-left: 10px;
    background: rgba(33, 33, 33, 0.2);
  }
}

.menu__socials-link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 479.98px) {
  .menu__socials-link {
    font-size: 24px;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479.98px) {
  .header__container {
    width: 100vw;
  }
}
@media screen and (max-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

.header__logo-link {
  color: var(--blue-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 767.98px) {
  .header__logo-link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo-link {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__span {
  color: #000;
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__item {
  position: relative;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link-nav--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -32px;
  margin-bottom: -1px;
  border-radius: 2px;
  background: var(--blue-cl--);
}

.header__link-nav {
  color: var(--black-cl--);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation-time--);
  transition: color var(--animation-time--);
}
.header__link-nav:hover, .header__link-nav:focus {
  color: var(--blue-cl--);
}

.header__link-nav--active {
  color: var(--blue-cl--);
  margin: 0;
}

/*  Header-contacts */
.menu-container .header__list-contacts {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .header__list-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .header__list-contacts {
    text-align: end;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header__list-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    padding: 0;
  }
}

.header__icons {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header__item-contacts:last-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item-contacts:last-child {
    margin-top: 0;
    margin-left: 40px;
  }
  .header__item-contacts:last-child:first-child {
    margin-left: 0;
  }
}

.header__link-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--silver-cl--);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color var(--animation-time--);
  transition: color var(--animation-time--);
}
.header__link-contacts:hover, .header__link-contacts:focus {
  color: var(--blue-cl--);
}
@media screen and (min-width: 768px) {
  .header__link-contacts {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-contacts {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* Section-hero */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(47, 48, 58, 0.4);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_lg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero/hero_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero_lg@2x.jpg);
  }
}

@media screen and (min-width: 320px) {
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    color: var(--white-cl--);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
  background: var(--blue-cl--);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: color var(--animation-time--), bacground var(--animation-time--);
  transition: color var(--animation-time--), bacground var(--animation-time--);
}
.btn:hover, .btn:focus {
  color: var(--white-cl--);
  background: var(--bacground-btn--);
}

/* Section-features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__list:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: var(--bacground-section--);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__group {
    width: 354px;
  }
}

.features__uppertitle {
  color: var(--black-cl--);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .features__uppertitle {
    text-align: center;
  }
}

.features__subtitle {
  color: var(--silver-cl--);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 767.98px) {
  .features__subtitle {
    width: 450px;
    height: 50px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__subtitle {
    width: 354px;
    height: 48px;
  }
}
@media screen and (max-width: 479.98px) {
  .features__subtitle {
    width: 290px;
    height: 70px;
    margin-bottom: 30px;
  }
}

/* Section-gallery */
@media screen and (min-width: 320px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
  }
}

.list-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery .gallery-item {
  position: relative;
  z-index: 0;
}

.gallery-card {
  display: block;
}

.gallery-title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.gallery-title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* Section-team */
@media screen and (min-width: 480px) {
  .section.team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container .list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .container .list-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .container .list-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container .list-team {
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .container .list-team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team {
  background: var(--bacground-section--);
}

.title {
  color: var(--black-cl--);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.item-navigation-team {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .item-navigation-team:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .item-navigation-team {
    margin: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .item-navigation-team {
    margin-right: 0;
  }
  .item-navigation-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-img {
  display: block;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.uppertitle-team {
  border-radius: 0px 0px 4px 4px;
  color: var(--black-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.subtitle-team {
  border-radius: 0px 0px 4px 4px;
  color: var(--silver-cl--);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-cl--);
  -webkit-transition: background var(--animation-time--);
  transition: background var(--animation-time--);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--blue-cl--);
}
.socials-link:hover svg, .socials-link:focus svg {
  fill: var(--white-cl--);
}

.socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-icons--);
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

/* Section-clients */
@media screen and (min-width: 480px) {
  .section.clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients-title {
  color: var(--black-cl--);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .clients-title {
    margin-bottom: 30px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 15px;
  }
}
@media screen and (min-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 30px;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .clients-item {
    width: 130px;
  }
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    height: 92px;
  }
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 320px) {
  .clients-item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .clients-item:not(:last-child) {
    margin-right: 0;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-icons--);
  -webkit-transition: border var(--animation-time--);
  transition: border var(--animation-time--);
}
@media screen and (min-width: 320px) {
  .clients-link {
    width: 138px;
    padding-left: -15px;
    padding-right: -15px;
  }
}
@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients-link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
    height: 92px;
  }
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--blue-cl--);
}
.clients-link:hover svg, .clients-link:focus svg {
  fill: var(--blue-cl--);
}

.cliens-icons {
  fill: var(--color-icons--);
  -webkit-transition: fill var(--animation-time--);
  transition: fill var(--animation-time--);
}

/* Footer */
.container.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .container.footer-socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container.footer-socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 61px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--background-cl-black--);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-link-footer {
  color: var(--blue-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-footer-span {
  color: var(--white-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.address {
  color: var(--white-cl--);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
  margin-top: 28px;
}
@media screen and (max-width: 767.98px) {
  .address {
    margin-top: 20px;
  }
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-decoration: none;
  -webkit-transition: color var(--animation-time--);
  transition: color var(--animation-time--);
}
.link-footer:hover, .link-footer:focus {
  color: var(--blue-cl--);
}

.list {
  margin-top: 12px;
}
@media screen and (max-width: 767.98px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8px;
  }
}

.address-item-navigation:first-child {
  margin-bottom: 12px;
}
@media screen and (max-width: 767.98px) {
  .address-item-navigation:first-child {
    margin-top: 8px;
  }
}

/* Footer socials icons */
.footer-container-icons {
  margin-left: 70px;
}
@media screen and (max-width: 767.98px) {
  .footer-container-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-right: 89px;
  }
}

.footer-socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-icons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-link-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background var(--animation-time--);
  transition: background var(--animation-time--);
}
.footer-link-icons:hover, .footer-link-icons:focus {
  background-color: var(--blue-cl--);
}

.footer-icons {
  fill: var(--white-cl--);
}

.uppertitle-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Form footer */
.form-footer {
  margin-left: 93px;
}
@media screen and (max-width: 767.98px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 151px;
  }
}

.form-group {
  margin-right: 12px;
}

.form-footer-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .subscription-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscription-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}
@media screen and (min-width: 320px) {
  .form-input {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .form-input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-input {
    width: 358px;
    height: 50px;
  }
}

.form-input:-moz-placeholder-shown {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.form-input:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.form-input:placeholder-shown {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.btn-container {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 12px;
}
@media screen and (max-width: 767.98px) {
  .btn-container {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .btn-container {
    margin-top: 20px;
  }
}

.btn-subscription {
  width: 100%;
  height: 100%;
  margin-right: 0;
  border-radius: 4px;
  background: var(--blue-cl--);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
}

.subscription-icons {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--white-cl--);
}

/* Section-portfolio */
.container .list-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .container .list-filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 479.98px) {
  .container .list-filters {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 0;
  }
}

@media screen and (min-width: 320px) {
  .section.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .section.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.btn-filters {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  background: var(--bacground-section--);
  color: var(--black-cl--);
  text-align: center;
  font-family: var(--main-font--);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--animation-time--), background var(--animation-time--), -webkit-box-shadow var(--animation-time--);
  transition: color var(--animation-time--), background var(--animation-time--), -webkit-box-shadow var(--animation-time--);
  transition: color var(--animation-time--), background var(--animation-time--), box-shadow var(--animation-time--);
  transition: color var(--animation-time--), background var(--animation-time--), box-shadow var(--animation-time--), -webkit-box-shadow var(--animation-time--);
}
.btn-filters:hover, .btn-filters:focus {
  background: var(--blue-cl--);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white-cl--);
}

.title-btn {
  margin-right: 8px;
}
@media screen and (max-width: 479.98px) {
  .title-btn {
    margin-bottom: 10px;
  }
}
.title-btn:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .title-btn {
    margin-top: 15px;
  }
}

.portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--animation-time--);
  transition: -webkit-box-shadow var(--animation-time--);
  transition: box-shadow var(--animation-time--);
  transition: box-shadow var(--animation-time--), -webkit-box-shadow var(--animation-time--);
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-link {
    width: 370px;
  }
}

.container .list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container .list-portfolio {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.item-pf {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-width: 0 1px 1px 1px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .item-pf {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.container-img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.img-portfolio {
  display: block;
}

.portfolio-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--animation-time--);
  transition: var(--animation-time--);
}
@media screen and (max-width: 479.98px) {
  .portfolio-title {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.list-portfolio .portfolio-link:hover .portfolio-title,
.list-portfolio .portfolio-link:focus .portfolio-title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.uppertitle-portfolio {
  color: var(--black-cl--);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.subtitle-portfolio {
  color: var(--silver-cl--);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.48px;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */