:root {
  --main-font--: 'Roboto', sans-serif;
  --font-logo--: 'Raleway';
  --background-cl-black--: #2F303A;
  --white-cl--: #FFF;
  --black-cl--: #212121;
  --blue-cl--: #2196F3;
  --silver-cl--: #757575;
  --color-icons--: #AFB1B8;
  --bacground-btn--:#188CE8;
  --bacground-section--:#F5F4FA;
  --animation-time--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--white-cl--);
  font-family: 'Roboto', sans-serif;
}

