/* Section-clients */
.section.clients {
  @include mq(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.clients-title {
  color: var(--black-cl--);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  @include mq(mobile) {
    margin-bottom: 30px;
  }
}
.clients-list {
  display: flex;
  @include mq(sm-mobile) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 15px;
  }
  @include mq(mobile) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
  }
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(sm-mobile) {
    width: 130px;
  }

  @include mq(mobile) {
    width: 210px;
    height: 92px;
  }
  @include mq(tablet) {
    width: 226px;
    height: 92px;
  }
  @include mq(desktop) {
    width: 170px;
    height: 92px;
  }
}
.clients-item:not(:last-child) {
  margin-right: 30px;
  @include mq(sm-mobile) {
    margin-right: 0;
  }
  @include mq(mobile) {
    margin-right: 0;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-icons--);
  transition: border var(--animation-time--);
  @include mq(sm-mobile) {
    width: 138px;
    padding-left: -15px;
    padding-right: -15px;
  }
  @include mq(mobile) {
    width: 210px;
    height: 92px;
  }
  @include mq(tablet-only) {
    width: 226px;
    height: 92px;
  }
  @include mq(desktop) {
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--blue-cl--);
  }
  &:hover svg,
  &:focus svg {
    fill: var(--blue-cl--);
  }
}

.cliens-icons {
  fill: var(--color-icons--);
  transition: fill var(--animation-time--);
}
