/* Section-portfolio */
span {
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(desktop) {
    display: none;
  }
}
.container .list-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @include mq(mobile-only) {
    flex-wrap: wrap;
    justify-content: normal;
    rgin-bottom: 40px;
    margin-right: 40px;
  }
}
.section.portfolio {
  @include mq(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.btn-filters {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  background: var(--bacground-section--);
  color: var(--black-cl--);
  text-align: center;
  font-family: var(--main-font--);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  cursor: pointer;
  transition: color var(--animation-time--), background var(--animation-time--),
    box-shadow var(--animation-time--);
  &:hover,
  &:focus {
    background: var(--blue-cl--);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    color: var(--white-cl--);
  }
}

.title-btn {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
  @include mq(mobile) {
    margin-top: 15px;
  }
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--animation-time--);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.container .list-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  @include mq(tablet-only) {
    justify-content: normal;
  }
}

.item-pf {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-width: 0 1px 1px 1px;
}

.container-img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.img-portfolio {
  display: block;
}

.portfolio-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: var(--animation-time--);
}

.list-portfolio .portfolio-link:hover .portfolio-title,
.list-portfolio .portfolio-link:focus .portfolio-title {
  transform: translateY(0);
}

.uppertitle-portfolio {
  color: var(--black-cl--);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.subtitle-portfolio {
  color: var(--silver-cl--);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.48px;
  margin-top: 4px;
}
